delImg/*
debug/*
singleExeDir/*
testImage/*
tool/*~
tool/tool
too/tool.pro.user
tool/attrRecognize/*~
tool/attrRecognize/configs/*~
tool/attrRecognize/Release/*
build-tool-Desktop_Qt_5_3_MSVC2013_OpenGL_64bit-Debug/*
*~
