tool/*~
tool/tool
tool/tool.pro.user
tool\\tool.pro.user
tool\\tool.pro.user.3.2-pre1
tool/attrRecognize/*~
tool/attrRecognize/configs/*~
tool/attrRecognize/Release/*
build-tool-Desktop_Qt_5_3_MSVC2013_OpenGL_64bit-Debug/*
*~
